p {
  color: #657b83;
  background-color: #fdf6e3;
}

.second-paragraph { /*use period for classes*/
  color: #b58900;
}

#third-paragraph { /*use pound sign for class*/
  color: #d33682;
  }

.lead {
  font-weight: 700;
}
